@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");
@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
}

.App-title {
  margin: 0 auto;
  text-align: center;
  font-size: 100px;
  font-weight: 100;
  color: #999;
  font-family: "Open Sans Condensed", sans-serif;
}

.Todo {
  position: relative;
  display: table;
  margin-left: auto;
  margin-right: auto;
  font-family: "Open Sans Condensed", sans-serif;
  box-shadow: 2px 23px 50px -9px #999999;
}

.Input-field {
  padding: 20px 20px 20px 40px;
  width: 450px;
  border: 1px solid #fff;
  border-bottom-color: #ddd;
  outline: none;
  font-style: italic;
  font-size: 24px;
}

.Todo_list {
  margin: 0;
  background-color: #fff;
  list-style: none;
  padding: 0;
}

.Todo_list-item {
  position: relative;
  padding: 20px 20px 20px 50px;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  color: #000;
  font-weight: 100;
  border-bottom: 1px solid #eee;
  text-decoration: none;
}

.Status-icon {
  position: absolute;
  left: 5px;
  top: 15px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.Item-close {
  opacity: 0.5;
  position: absolute;
  right: 10px;
  top: 20px;
  width: 28px;
  height: 28px;
  border: 1px solid #999;
  border-radius: 50%;
  transition: all 0.1s ease-out;
  cursor: pointer;
}
.Item-close:after {
  position: absolute;
  content: "X";
  top: 0px;
  right: 2px;
  width: 20px;
  height: 20px;
}
.Item-close:hover {
  opacity: 0.7;
}

.Todo-footer {
  padding: 20px;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
}
.Todo-footer_counter {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #999;
}

.Todo-footer_btns {
  display: flex;
  flex-direction: row;
}
.btn {
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  color: #999;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  border: 1px solid transparent;
}
.btn-active {
  border: 1px solid #999;
  border-radius: 3px;
  opacity: 0.9;
}
.active-footer {
  display: flex;
}
